@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1763626465109') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_daxiongmaoduanzuomingxiang:before {
  content: "\e615";
}

.icon-icon_xiaomifengtangzaihuazhongyang:before {
  content: "\e61a";
}

