@import url('https://api.fonts.coollabs.io/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
/*导航页*/
{    
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
}
#menu-overlay
{
    position: fixed;
    top: 0;
    left:0; 
    right: 0;
    bottom: 0;
    background: rgb(21, 24, 103);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    transform: scale(0);
    transition: 0.5s;
}
#menu-overlay.active
{
    transform: scale(1);
}
#menu-overlay ul
{
    position: relative;
}
#menu-overlay ul li
{
    position: relative;
    list-style: none;
    text-align: center;
    display: block;
    font-family: cursive;

}
#menu-overlay ul li a
{
    position: relative;
    text-decoration: none;
    font-size: 3.5em ;
    padding: 0 10px;
    color:#fff;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;

}
#menu-overlay ul li a:before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height:8px;
    background-color: rgb(0, 0, 0);
    transform: translateY(-50%) scaleX(0);
    transform-origin: right;
    transition: 0.5s transform;

}
#menu-overlay ul li a:hover::before
{
    transform: translateY(-50%) scaleX(1);
    transform-origin: left;
    transition: 0.5s transform;
    z-index: 50;
}
#toggleIcon
{
    position: fixed;
    top: 15px;
    right: 230px;
    width: 50px;
    height: 50px;
    background-color: #ff0;
    z-index: 1;
    cursor: pointer;
    border-radius: 4px; 

}
.icon {
    width: 50px; /* 图标宽度，根据按钮大小调整 */
    height: 50px;

}
#toggleIcon.active
{
    background: url(ditu-cha.png);
}

/*封页*/
#shouye
{
    position: relative;
    margin-top: 68px;
    height: 700px;
    width: 100%;
    text-align: center;
    background-image: url(lanse.jpg);
    background-position: 100px -50px;
    background-repeat: no-repeat;
}

#shouye #biaoti {
    padding-top:80px; /* 通过上内边距向下推标题，可调整数值 */
    /* 或者使用 margin-top */
    /* margin-top: 200px; */
}
#shouye .biaoti
{
    display: block;
    font-size: 100px;
    font-family: cursive;
    text-shadow: 1px 1px 0 #c3c2c2, 
               -1px 1px 0 #9f9e9e, 
               1px -1px 0 #b0aeae, 
               -1px -1px 0 #a5a3a3;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: #5470c0;
    font-weight: bold;
    
}

#date 
{
  /* 移除固定宽高，改为自适应内容 */
    display: inline-block; /* 关键：让容器适应内容宽度 */
    position: absolute; /* 作为子元素的定位参考 */
    left: 1px;
    top: 20px;
    padding: 5px 15px; /* 增加内边距，让背景更美观 */
    background-color: rgb(245, 245, 203); /* 背景色 */
    border-radius: 12px;

}
#shouye #date .date
{
    font-size: 50px;
    font-family:"BurberryScript", "ZcoolWenyi", cursive;
    top: 10px;
    left: 1px;

}
#menu-overlay.active ~ #shouye {
    display: none; /* 当导航栏激活时隐藏首页 */
}

/* 名言展示样式 */
#quotes-container {
    position: absolute;
    top: 50%;
    right: 100px; /* 调整右侧距离 */
    transform: translateY(-50%);
    width: 500px; /* 宽度根据需要调整 */
    padding: 20px;
}

#quote-display {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    font-style: italic;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}